In [15]:
import pandas as pd
import os
import json
import requests
import graphlab
import numpy as np
import matplotlib.pyplot as plt

In [31]:
Seattle = graphlab.SFrame("Seattle.csv")

Finished parsing file /Users/janinewei/Documents/GitHub/Quantitative Economics/Seattle.csv

Parsing completed. Parsed 13 lines in 0.030902 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,float,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/janinewei/Documents/GitHub/Quantitative Economics/Seattle.csv

Parsing completed. Parsed 13 lines in 0.014916 secs.

In [32]:
Seattle['2015Number'] = Seattle['2015Number'].astype(int)

In [33]:
Seattle['2000Number'] = Seattle['2000Number'].astype(int)

In [ ]:
Seattle['diff'] = Seattle['2015Number']-Seattle['2000Number']

In [35]:
df = pd.DataFrame({'x': Seattle['INDUSTRY'], 'y': Seattle['diff']})

In [36]:
df

                                                    x   y
0   Agriculture, forestry, fishing and hunting, an...   0
1                                        Construction  -1
2                                       Manufacturing  -1
3                                     Wholesale trade  -3
4                                        Retail trade   9
5       Transportation and warehousing, and utilities  -1
6                                         Information  -5
7   Finance and insurance, and real estate and ren...   0
8   Professional, scientific, and management, and ...  26
9   Educational services, and health care and soci...  20
10  Arts, entertainment, and recreation, and accom...  12
11       Other services, except public administration   4
12                              Public administration   1

In [ ]:
my_plot = df.plot(kind='bar')

In [ ]:
plt.style.use('ggplot')

In [ ]:
plt.show()